version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:16.14.0
    parameters:
      build_environment:
        type: string
        default: stage
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: install-packages
          command: yarn install
      - run:
          name: build-app
          command: yarn build
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Configure Github credentials
          command: |
            git config user.email $GITHUB_EMAIL
            git config user.name $GITHUB_USERNAME
      - add_ssh_keys:
          fingerprints:
            - $GITHUB_FINGERPRINT
      - run:
          name: Deploy to Azure Web App
          command: yarn deploy-<< parameters.build_environment >>

workflows:
  deploy:
    jobs:
      - build:
          build_environment: prod
          filters:
            branches:
              only: master
      - build:
          build_environment: stage
          filters:
            branches:
              only: development
