.grid {
    display: grid;
    grid-template-columns: repeat(5, 35px);
    grid-template-rows: repeat(5, 18.5px);
    grid-gap: 5px;
    position: absolute;
    z-index: 5;
  }
  
  .box {
    width: 22px;
    height: 22px;
    background-color: #cce4ec;
    opacity: 0.1;
    animation: first-animation 6s linear forwards;
    animation-delay: 0;
    border-radius: 7px;
  }
  
  .box:nth-child(1),
  .box:nth-child(25) {
    animation: second-animation 1s linear forwards;
    animation-delay: 1s;
  }
  
  .box:nth-child(5),
  .box:nth-child(21) {
    animation: second-animation 1s linear forwards;
    animation-delay: 1.5s;
  }
  
  .box:nth-child(7),
  .box:nth-child(13) {
    animation: second-animation 1s linear forwards;
    animation-delay: 2s;
  }
  
  .box:nth-child(7),
  .box:nth-child(13) {
    animation: second-animation 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .box:nth-child(9),
  .box:nth-child(19) {
    animation: second-animation 1s linear forwards;
    animation-delay: 3s;
  }
  
  .box:nth-child(17) {
    animation: second-animation 1s linear forwards;
    animation-delay: 3.5s;
  }
  
  .box:nth-child(11),
  .box:nth-child(15) {
    animation: second-animation 1s linear forwards;
    animation-delay: 4s;
  }
  
  .zigzag_inner,
  .zigzag_inner_two,
  .zigzag_inner_three,
  .zigzag_inner_fourth,
  .zigzag_left,
  .zigzag_left_two,
  .zigzag_left_three,
  .zigzag_left_four,
  .zigzag_right,
  .zigzag_right_two,
  .zigzag_right_three,
  .zigzag_right_four {
    width: 6px;
    height: 31px;
    background-color: #cce4ec;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  .zigzag_inner {
    transform: rotate(317deg);
    left: 65px;
    top: 33px;
    animation: third-animation 1s linear forwards;
    animation-delay: 5s;
  }
  .zigzag_inner_two {
    transform: rotate(43deg);
    left: 65px;
    top: 53px;
    animation: third-animation 1s linear forwards;
    animation-delay: 4.5s;
  }
  
  .zigzag_inner_three {
    transform: rotate(317deg);
    left: 111px;
    top: 53px;
    animation: third-animation 1s linear forwards;
    animation-delay: 4.5s;
  }
  .zigzag_inner_fourth {
    transform: rotate(43deg);
    left: 111px;
    top: 33px;
    animation: third-animation 1s linear forwards;
    animation-delay: 4.5s;
  }
  
  .zigzag_left {
    transform: rotate(319deg);
    left: 25px;
    background-color: #e7eff3;
    top: 10px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  .zigzag_left_two {
    transform: rotate(42deg);
    left: 25px;
    background-color: #e7eff3;
    top: 30px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  .zigzag_left_three {
    transform: rotate(319deg);
    left: 25px;
    background-color: #e7eff3;
    top: 55px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  .zigzag_left_four {
    transform: rotate(44deg);
    left: 25px;
    background-color: #e7eff3;
    top: 75px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  .zigzag_right {
    transform: rotate(44deg);
    left: 151px;
    background-color: #e7eff3;
    top: 11px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  .zigzag_right_two {
    transform: rotate(319deg);
    left: 151px;
    background-color: #e7eff3;
    top: 31px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  .zigzag_right_three {
    transform: rotate(39deg);
    left: 152px;
    background-color: #e7eff3;
    top: 55px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  .zigzag_right_four {
    transform: rotate(319deg);
    left: 151px;
    background-color: #e7eff3;
    top: 76px;
    animation: fourth-animation 2s linear forwards;
    animation-delay: 5s;
  }
  
  @keyframes first-animation {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes second-animation {
    0% {
      opacity: 10%;
      width: 23px;
      height: 23px;
    }
    10% {
      opacity: 10%;
      width: 24px;
      height: 24px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    20% {
      opacity: 20%;
      width: 25px;
      height: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    30% {
      opacity: 30%;
      width: 26px;
      height: 26px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    40% {
      opacity: 40%;
      width: 27px;
      height: 27px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    60% {
      opacity: 60%;
      width: 26px;
      height: 26px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    80% {
      opacity: 80%;
      width: 25px;
      height: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    90% {
      opacity: 90%;
      width: 24px;
      height: 24px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    100% {
      opacity: 100%;
      width: 22px;
      height: 22px;
    }
  }
  
  @keyframes third-animation {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fourth-animation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.5;
    
    }
    75%{
        opacity: 0.75;
      background-color: #cce4ec;
    }
    100% {
      opacity: 1;
      background-color: #cce4ec;
    }
  }
  