html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #edf1f3;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem; /*40px*/
  line-height: 1.8125rem; /*29px*/
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem; /*18px*/
  line-height: 1.375rem; /*22px*/
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem; /*14px*/
  line-height: 1.125rem; /*18px*/
}

.text-bold {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem; /*14px*/
  line-height: 1.125rem; /*18px*/
}

.text-small {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem; /*12px*/
  line-height: 0.9375rem; /*15px*/
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@font-face {
  font-family: "Ubuntu";
  src: url(/fonts/Ubuntu-Regular) format("ttf");
}
