html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #edf1f3;
  font-family: Ubuntu, sans-serif, 'Inter';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
